# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI + Heroku Deploy

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18.x"
      - name: Install dependencies
        run: npm install

  deploy:
      needs: build
      runs-on: ubuntu-latest

      steps:
        - name: Check repository
          uses: actions/checkout@v4

        - name: Install Heroku CLI # <- IMPORTANT!!! Make sure the CLI is installed before using the action
          run: |
            curl https://cli-assets.heroku.com/install.sh | sh 

        - uses: akhileshns/heroku-deploy@v3.14.15
          with:
            heroku_api_key: ${{secrets.HEROKU_API_KEY}}
            heroku_app_name: "evdevops" #Must be unique in Heroku
            heroku_email: "kajiode23@gmail.com"
            usedocker: false
            
